BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman

ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false

SpaceBeforeParens: ControlStatements

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

SortIncludes: true
IncludeBlocks: Regroup

NamespaceIndentation: All
AccessModifierOffset: -4

IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1

  - Regex: '^"serveur/.*"'
    Priority: 2

  - Regex: '^"algorithmes/.*"'
    Priority: 3

  - Regex: '^"factories/.*"'
    Priority: 4

  - Regex: '^"modele/.*"'
    Priority: 5

  - Regex: '^"types/.*"'
    Priority: 6

  - Regex: '^"utils/.*"'
    Priority: 7

  - Regex: '.*'
    Priority: 10